.NavLink,
.activeNavLinkContact,
.activeNavLinkRegister,
.active,
.NavLinkContact,
.NavLinkRegister {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: black;
}
.NavLinkContact {
  margin-right: 10px;
}
.NavLinkRegister {
  margin-right: 40px;
}
.active {
  filter: drop-shadow(3px 3px 10px aqua);
}
.activeNavLinkContact {
  margin-right: 10px;

  filter: drop-shadow(3px 3px 10px aqua);
}
.activeNavLinkRegister {
  margin-right: 40px;

  filter: drop-shadow(3px 3px 10px aqua);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.isLogin {
  display: flex;
  align-items: center;
}
