.deleteButton {
  width: 80px;
  height: 30px;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: red;
}
.deleteButton:hover {
  box-shadow: 4px 3px 9px 0px rgba(168, 166, 168, 1);
}
.deleteButton:focus {
  background-color: red;
  border: none;
}
.item {
  display: flex;
  align-items: center;
}
.span {
  margin-left: 10px;
}
.contactWrapper {
  position: absolute;
  left: 600px;
  top: 220px;
}
.titleP {
  font-size: 30px;
  font-weight: 500;
}
