.usWrapper {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 600;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 8px 0 8px;
  color: blue;
}
.outButton {
  height: 30px;
  width: 70px;
  font-size: 16px;
  font-weight: 700;
  color: whitesmoke;
  border-style: none;
  border-radius: 4px;
  background-color: rgb(139, 139, 139);
}
.outButton:hover {
  box-shadow: 4px 4px 5px 0px rgba(158, 158, 158, 1);
}
.usTitle {
  margin-right: 8px;
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.outButton {
  overflow: hidden;
  position: relative;
}

.outButton:after {
  content: '';
  display: block;
  width: 30px;
  height: 200px;
  margin-left: 60px;
  background: #fff;
  opacity: 0.5;
  position: absolute;
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  transition: all 0.1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
